{
    debug
}

http://localhost:8080 {
    route /new {
        shadow {
            compare_body
            primary {
                header +x-test "ohai"
                respond Primary
            }
            shadow {
                respond Secondary
            }
        }
    }
}